VITE_API_BASE=https://api.hrms.netkathir.com/api/v1
VITE_VAPID_PUBLIC_KEY=your_vapid_public_key_here
VITE_OFFICE_LAT=11.9321154
VITE_OFFICE_LNG=79.7899261
VITE_GEOFENCE_RADIUS_M=200
VITE_ACCURACY_THRESHOLD_M=100
